.quiz-container {
  /* min-height: 100vh; */
  height: calc(var(--vh) * 100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  gap: 1.5rem;
  padding-bottom: 4rem;
  justify-content: center;
}

.text-input {
  width: 14rem;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #333;
}

.button-primary,
.button-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  white-space: nowrap;
  text-align: center;
  min-width: 8rem;
  width: 10rem;
  flex-shrink: 1;
}

.button-primary {
  display: inline-flex;
  min-height: 3.5rem;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
  color: #fff;
  background-color: #b74f42;
  border: 2px solid #ffffff;
  border-radius: 9999px;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #a7463a;
}

.button-secondary {
  min-height: 3.5rem;
  background-color: #f4eede;
  color: #333;
  border: 2px solid #ffffff;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: #e8e0cf;
}

.button-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.8rem;
  width: 100%;
  max-width: 22rem;
  padding: 0;
  margin-top: 1.5rem;
}

.button-group button {
  flex: 1;
  min-width: 7rem;
}

.icon-sound {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  flex-shrink: 0;
}

.repeat-select {
  margin-top: 1.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.repeat-select label {
  font-weight: normal;
}

.repeat-select select {
  border: 2px solid #7f8c8d;
  border-radius: 9999px;
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
  background-color: #ffffff;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.repeat-select select:hover {
  background-color: #ecf0f1;
}

.question-display {
  min-height: 6rem;
  font-size: 4rem;
  color: #ffffff;
}

.question-display+.button-primary {
  margin-top: 2rem;
}