.quiz-container {
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* .question-display {
  font-size: 3rem;
  margin: 1.5rem 0;
} */

.morse-display {
  color: #fff;
  margin-bottom: 1rem;
}

.letter-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.round-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: #ecf0f1;
  border: 2px solid #7f8c8d;
  margin: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
}

.round-button:hover {
  background-color: #bdc3c7;
}

.empty-button {
  visibility: hidden;
}

.answer-button {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}

.replay-button {
  margin-top: 1rem;
}

.text-input {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.symbol-button-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.section-label {
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
}

.repeat-select+.button-primary {
  margin-top: 1.5rem;
}