.settings-container {
    padding: 1.5rem;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
}

.settings-section {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

/* .settings-section label {
    display: block;
    margin-bottom: 0.5rem;
} */

.settings-section input[type="range"] {
    width: 100%;
    margin-top: 1rem;
}

.settings-section span {
    font-weight: bold;
    color: #ffffff;
}

.wpm-wrap {
    display: flex;
    align-items: center;
}