.replay-button {
  margin-top: 1rem;
}

.feedback {
  margin-top: 1rem;
  font-size: 3rem;
  color: #ffffff;
}

.length-select {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fdf9f2;
}

.length-select select {
  border: 2px solid #7f8c8d;
  border-radius: 9999px;
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: #333;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.length-select select:hover {
  background-color: #ecf0f1;
}