.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e3c978;
  color: #ffffff;
  padding: 0.5rem 1rem;
  z-index: 1000;
}

.app-header nav {
  position: relative;
}

.app-header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.app-header a {
  color: #965353;
  text-decoration: none;
  font-weight: bold;
}

.nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.nav-link {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  padding: 0.3rem 0.5rem;
}

.app-header li a.active {
  border-bottom: 2px solid #ffface;
  padding-bottom: 2px;
}

.version-badge {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1rem;
  font-size: 1rem;
  /* color: #965353; */
  color: red;
  padding: 0.2rem 0.8rem;
  padding-right: 1rem;
  border-radius: 9999px;
  font-weight: bold;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}